  $theme-1: black;
  $theme-2: rgba(62, 0, 67, 0.6);
  $theme-2-solid: rgb(62, 0, 67);
  $text-color-1:white;
  $text-color-2:#F04AED;
  $theme-3: linear-gradient( rgba(29, 145, 135, 1), rgba(29, 145, 135, 0.6));