@mixin small-screen {
  // @media (max-width: 767px) {
    @media (max-width: 918px) {
    @content;
  }
}

@mixin centered {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.sticky {
  position: sticky;
  top: 0;
}

.absolute {
  position: absolute;
  top: 0;
}