.container {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 12px 12px 0 0;
}

.imageContainer {
  border-radius: 12px;
  width: 100%;
  height: 300px;
  background-color: white;
}

.image {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blurb {
  width: 100%;
  height: 42px;
  padding: 10px;
  margin: auto;
  text-align: center;
  background-color: rgb(62, 0, 67);
  color: white;
  margin-top: -14px;
}