.container {
  display: flex;
  flex-direction: column;
  background-color: var(--theme-1);
  border-radius: 12px 12px 0 0;
}

.imageContainer {
  border-radius: 12px;
  width: 100%;
  height: 300px;
  background-color: var(--text-color-1);
}

.image {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  &:hover {
    opacity: 1;
  }
}

.blurb {
  width: 100%;
  height: 56px;
  padding: 10px;
  margin: auto;
  text-align: center;
  background-color: var(--theme-2-solid);
  color: white;
  margin-top: -14px;
  font-size: 24px;
}