.container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-bottom: 30px;
    width: 60%;

    .formItem {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
    }

    input, textarea {
        font-size: 18px;
        border-radius: 20px;
        padding: 12px;
        font-family: monospace;
    }

    input {
        height: 40px;
    }

    label {
        margin-bottom: 4px;
        font-size: 22px;
    }
}

.button {
    appearance:none;
    background: none;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 30px;

    &:hover {
        opacity: 0.8;
    }
}

@media only screen and (max-width: 320px) {
    .container {
        padding: 0;
        width: 100%;
    }
  }