.container {
    color: white;

    input, textarea {
        font-size: 16px;
        border-radius: 20px;
    }

    input {
        height: 30px;
    }

    label {
        margin-bottom: 4px;
    }
}

.button {
    appearance:none;
    background: none;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    padding: 10px;
}