@import './_globals.scss';
@import './_mixins.scss';

.container {
    @include centered;
    background: "#000";
    padding-bottom: 20px;
    padding-top: 20px;
    box-sizing: content-box;
}

.image {
    width: 100px;
}