.container {
  display: flex;
  flex-wrap: wrap;

  &.vertical {
    .itemContainer {
      flex-direction: column;
      width: 100%;
      box-sizing: border-box;
      margin: 20px;
      flex-wrap: nowrap;
    }
  }
}

.itemContainer {
  width:calc(33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;

  &:last-of-type {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    justify-content: center;
  }

  .container.text {
    align-items: center;
    justify-content: center;
  }

  .itemContainer {
    width:calc(50% - 20px);
  }

  .itemContainer.text {
    width: 100%;
    margin: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .itemContainer {
    width: 100%;
    margin-right: 0;
  }

  .itemContainer.text {
    margin: 0px;
  }
}