.container {
  max-width: 576px;
  max-height: 467px;
  border-radius: 12px;
  padding: 20px;
  padding-bottom: 0;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}


@media only screen and (max-width: 1024px) {
  .container {
    max-width: initial;
    max-height: initial;
    border-radius: 12px;
  }
}