@import './_globals.scss';

.container {
  height: 72px;
  background-image: linear-gradient( rgba(29, 145, 135, 1), rgba(29, 145, 135, 0.6));
}

.navItems{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  padding: 19px;
}

.navItem, .backButton {
  list-style: none;
  color: $text-color-1;
  font-size: 32px;
}

.isActive {
  font-weight: bold;
}

.backButton {
  appearance: none;
  border: none;
  background: none;
  &:hover{
    text-decoration: underline;
  }
}

.pipe {
  margin-left: 10px;
  margin-right: 10px;
}