@import './_globals.scss';
@import './_mixins';

.container {
  height: 80px;
  width: 100vw;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  top: 0;
  z-index: 100;
  background-image: linear-gradient(rgb(29, 145, 135), rgb(32, 154, 144));
  @include small-screen {
    height: auto;
  }
}

.button {
  margin-left: 12px;
  box-shadow: inset 0px 0px 0px 2px #fff;
  padding: 6px;
  border-radius: 10px;
  &:hover {
    transform: translate(4px, 4px);
    @include small-screen {
      box-shadow: inset 0px 0px 0px 2px $text-color-2;
      transform: none;
    }
  }
}

.button {
  &:hover {
    .link {
      @include small-screen {
        color: $text-color-2;
      }
    }
  }
}

.link {
  &:hover {
    @include small-screen {
      color: $text-color-2;
    }
  }
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  width: 72px;
  height: 72px;
}

.navItems, .backContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  padding: 19px;
  @include small-screen {
    padding: 8px;
  }
}

.navItems {
  @include small-screen {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 101;
  }
}

.navItemsOpen {
  display: flex;
}

.navItem, .backButton {
  list-style: none;
  color: $text-color-1;
  font-size: 32px;
  @include small-screen {
    text-align: center;
    margin: 15px 0;
  }

  &:hover {
    @include small-screen {
      color: $text-color-2;
    }
  }
}

.isActive {
  font-weight: bold;
}

.backButton {
  appearance: none;
  border: none;
  background: none;
  &:hover {
    text-decoration: none;
  }
}

.pipe {
  margin-left: 10px;
  margin-right: 10px;
  @include small-screen {
    display: none;
  }
}

.hamburger {
  display: none;
  font-size: 32px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  @include small-screen {
    display: block;
  }
}

.closeButton {
  display: none;
  font-size: 32px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  @include small-screen {
    display: block;
  }

  &:hover {
    @include small-screen {
      color: $text-color-2;
    }
  }
}
