.container {
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    border: 4px solid white;
    margin: 4px;
    // border-radius: 20px;

    .quoteContainer {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

    .quote {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 10px;
      font-size: 1.5em;
    }

    .image {
      width: auto;
      height: 50%; 
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .image img {
      height: 50%; 
      object-fit: contain;
      border-radius: 500px; 
      transform: scale(75%);
    }

    .attribution {
      font-size: 0.9em;
      margin-top: 10px;
      text-align: center;
      font-weight: bold;
    }
}
