@import './_globals.scss';

.twoColumn {
  display: flex;
  color: $theme-1;
  padding-top: 0;
  margin: 20px;

  * {
    color: $text-color-1;
    font-weight: 400;
  }

  .column1, .column2 {
    position: relative;
  }
}

.twoColumn.projectItem {
  .column1 {
    width: calc(100% - 500px);
  }
  .column2 {
    width: 500px; 
  }
}

@media only screen and (max-width: 1240px) {
  .twoColumn {
    padding-top: 0;
  }

  .column1 {
    margin-right: 0;
  }

  .column2 {
    margin-bottom: 12px;
  }

  .twoColumn.projectItem {
    .column1 {
      width: calc(100% - 300px);
    }
    .column2 {
      width: 300px; 
    }
  }
}

@media only screen and (max-width: 1000px) {
  .twoColumn {
    padding-top: 0;
    flex-direction: column-reverse;
    justify-content: center;
    max-width: none;

    &.lockH {
      flex-direction: row;
    }
  }

  .column1 {
    margin-right: 0;
  }

  .column2 {
    margin-bottom: 12px;
    flex: none;
  }

  .twoColumn.projectItem {
    .column1 {
      width: 100%;
    }
    .column2 {
      width: 100%; 
    }
  }
}