@import './_globals.scss';

.twoColumn {
  display: flex;
  color: $theme-1;
  padding: 57px;
  padding-top: 0;

  * {
    color: $text-color-1;
    font-weight: 400;
  }
}

.column1 {
  flex: 2;
  margin-right: 128px;
}

.column2 {
  flex: 1;
}

@media only screen and (max-width: 1240px) {
  .twoColumn {
    padding: 20px;
  }
  .column1 {
    margin-right: 10%;
  }
}

@media only screen and (max-width: 768px) {
  .twoColumn {
    padding: 10px;
    padding-top: 0;
    flex-direction: column-reverse;
  }

  .column1 {
    margin-right: 0;
  }

  .column2 {
    margin-bottom: 12px;
  }
}